.home {
    background-image: url("./images/Ann.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

#services ul li {
    color: chartreuse;
}

nav {
    max-width: 300px;
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 0%;
    /* background-color: palegreen; */
}
nav > ul {
    display:flex;
}

nav>ul>li {
    padding: 12px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    color: cyan;
    display:inline-block;
    list-style-type: none;
    
}   

nav>ul>li>a:hover {
    box-shadow: gold;
    background: greenyellow;
    color: rgb(33, 65, 211);
}
.contact{
    background-image: url(./images/949085t.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}
#about{
    background-image:url(./images/1234df.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: seagreen;
}

footer{
    background-color: indianred;
}
#BACKGROUND{
    font-size:  px;
    font-weight: 500;

}
.offer{
    background-image:url(./images/1064807183.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: violet;
}
.wellcome h2{
    text-align: center;
}
.wellcome p {
    text-align:center;
    margin-left: 300px;
    display: flex;
    justify-content: center;
    margin-right: 300px;
}
#BACKGROUND p {
    text-align:center;
    margin-left: 300px;
    display: flex;
    justify-content: center;
    margin-right: 300px;
}
#BACKGROUND h2 {
    text-align:center;
    margin-left: 300px;
    display: flex;
    justify-content: center;
    margin-right: 300px;
}

#BACKGROUND h3 {
    text-align:center;
    margin-left: 300px;
    display: flex;
    justify-content: center;
    margin-right: 300px;
}
#BACKGROUND h1 {
    text-align:center;  

}
